/* Generic */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    padding: 20px;
    max-width: 1024px;
    width: 1024px;
    margin: 50px auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap>div {
    padding: 10px;
}

h3.title {
    font-size: 50px;
    padding-bottom: 60px;
    width: auto;
    text-transform: uppercase;
    position: relative;
}

h3.title::before {
    content: '';
    display: block;
    height: 5px;
    width: 100px;
    background-color: #f2d25b;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.animated {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* body settings */
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body.body {
    width: 100%;
    overflow-y: hidden;
    font-size: 16px;
    font-family: 'Raleway', serif;
    line-height: 1.15;
}

/* Header style */
header {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header-wrapper {
    font-family: "Century Gothic";
    height: 50px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: rgba(36, 36, 36);
}

.header-wrapper.top {
    background: rgba(36, 36, 36, 0);
    height: 70px;
    padding: 0px 40px;
}

.header-wrapper.adopt-head {
    height: 100vh;
    background: rgb(36, 36, 36);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
}

.header-wrapper.adopt-head>.logo {
    width: 40px;
    max-height: 40px;
}

.logo-humb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: auto;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.logo:hover {
    color: #f2d25b;
}

nav {
    width: 100%;
    min-width: 500px;
    width: auto;
}

ul {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-link {
    text-transform: uppercase;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.nav-link:hover {
    color: #f2d25b;
}

.humb {
    display: none;
    max-height: 50px;
    height: 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.strip {
    height: 3px;
    width: 30px;
    background: #fff;
}

@media screen and (max-width: 767px) {
    .logo-humb {
        min-width: 100%;
    }

    .humb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav {
        min-width: 100%;
        -webkit-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
        transform: translateY(-80%);
    }

    .nav-link {
        font-size: 28px;
    }

    .examp {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .examp li {
        margin-bottom: 15px;
    }
}

/* parallax banner */
.parallax {
    min-width: 300px;
    height: 100vh;
    background: #00000048;
}

/* Generic styles */
/* banner */
.banner {
    color: #fff;
    /* padding-bottom: 70px; */
    position: relative;
}

.banner-conteiner {
    text-align: center;
    max-width: 700px;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1.banner-item {
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 72px;
}

@media screen and (max-width: 426px) {
    h1.banner-item {
        font-size: 60px;
    }
}

.banner-item {
    margin-bottom: 20px;
}

.color {
    color: #f2d25b;
}

p.banner-item {
    font-size: 42px;
}

.button {
    display: inline-block;
    margin: 15px 10px;
    padding: 15px 25px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #f2d25b;
    letter-spacing: 1px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background-color: #f2d25b;
}

/* content */
/* .content {} */

/* about */
.about {
    width: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-text {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-text p {
    text-align: justify;
    font-size: 18px;
}

img.book-img {
    height: 190px;
    width: auto;
    margin: auto 0px;
    margin-left: 20px;
}

@media screen and (max-width: 1024px) {
    .about-text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    img.book-img {
        max-width: 100%;
        min-width: 200px;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }
}

/* service */
.service {
    width: 100%;
    background: #d6d6d6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.order {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* width: 300px; */
    height: auto;
    text-align: center;
    background: none;
    padding: 20px;
    margin-top: 20px;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.order:hover {
    background-color: #f2d25b;
}

.order>i {
    font-size: 50px;
}

.order-title {
    font-size: 30px;
    padding: 30px 0;
}

.order-descrip {
    /* text-align: j; */
}

/* authors */
.authors {
    width: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.atrs {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.atr {
    /* width: 292px; */
}

.atr-img {
    height: 200px;
    max-width: 100%;
    margin-bottom: 20px;
}

.atr-name {
    font-size: 28px;
    /* padding-top: 30px; */
    padding-left: 5px;
    word-wrap: break-word;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .atr-img {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .atr-img {
        height: unset;
    }
}

/* merch */
.merch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #d6d6d6;
}

.goods {
    max-width: 100%;
}

.product {
    margin: 0 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.merch .wrap {
    margin-bottom: 20px;
}

.merch .wrap>div {
    padding: 10px 0;
}

.owl-nav {
    display: none;
}

@media screen and (max-width: 500px) {
    .prod-img {
        max-width: 366px;
    }
}

/* contacts */
.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
}

.contacts>h4 {
    font-size: 28px;
    margin-bottom: 20px;
}

.cont-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cont-content>iframe {
    width: 100%;
    min-height: 300px
}

.cont-wrap {
    padding: 20px;
    margin: 20px;
    margin-left: 40px;
}

@media screen and (max-width: 768px) {
    .cont-wrap {
        padding: 0;
    }
}

@media screen and (max-width: 376px) {
    .cont-wrap {
        margin-left: 0;
    }
}

.cw {
    margin-bottom: 30px;
}

.cw>h4 {
    font-size: 25px;
    margin-bottom: 8px;
}

.cw>p {
    font-size: 20px;
    margin-left: 20px;
}

/* footer */
footer.footer {
    height: 60px;
    background-color: #444;
    color: #999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* попапы */
.popup {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 10000;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup-content {
    position: absolute;
    background-color: #fff;
    /* padding: 30px; */
    border-radius: 8px;
    z-index: 99999;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.form {
    max-width: 400px;
    padding: 30px;
    margin: 30px;
    background: white;
    height: calc(100% - 60px)
}

@media screen and (max-width: 424px) {
    .form {
        max-width: 100%;
        margin: 40px;
        padding: 0;
    }
}

.form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: normal;
}

.form-row {
    position: relative;
    margin-bottom: 40px;
}

.form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid black;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    -webkit-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-row input:focus {
    outline: 0;
    border-color: #f2d25b;
}

.form-row input:focus+label {
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #f2d25b;
    color: #f2d25b;
}

.form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #f2d25b;
    border-width: 0;
    color: black;
    font-size: 20px;
    bottom: 0;
}

.form p {
    margin: 0;
    padding-top: 10px;
}

@media screen and (max-width: 426px) {
    .popup-content {
        height: 100%;
        width: 100%;
    }

    .form h3 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .form p {
        margin-top: 30%;
    }
}